<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CapaPresentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>
    <!--NEGOCIOS\NEGOCIO !-->
    <add name="CapaPresentacion.Properties.Settings.Conn2" connectionString="Data Source=WIN-UH7O874S0A9\SERVER_MBO;Initial Catalog=dbcajachica;User ID=sa;Password=GBcAa$" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <CapaPresentacion.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </CapaPresentacion.Properties.Settings>
  </userSettings>
</configuration>